In [2]:
import pandas as pd

In [3]:
data = 'files/Q4.csv'
df = pd.read_csv(data, index_col=0)
df.head()

   Salary   Experience       Degree
1    1.57  Less than 2  Engineering
2    1.26  Less than 2  Engineering
3    1.53  Less than 2  Engineering
4    1.45  Less than 2  Engineering
5    1.26  Less than 2  Engineering

In [38]:
import statsmodels as sm
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

form = 'Salary~Experience+Degree+Experience:Degree'
model = ols(form,df).fit()
table= anova_lm(model, type=2)
print(table)

                      df     sum_sq   mean_sq          F    PR(>F)
Experience           1.0   2.699383  2.699383  16.675350  0.000076
Degree               2.0   4.373660  2.186830  13.509072  0.000005
Experience:Degree    2.0   0.679249  0.339624   2.098019  0.126712
Residual           134.0  21.691737  0.161879        NaN       NaN